

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
		background-color: cornflowerblue;
		font-size: 15px;
    }
    .navbar li a:hover {
          background-color: #000000 ;
		  }

    .top-nav-collapse {
        padding: 0;
    }
}


/* Table*/
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
	
}
th, td {
    padding: 5px;
    text-align: left;
	font-family: "neosans regular", "Helvetica Neue", Helvetica, Arial, Sans-serif;

}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color:#fff;
}
table#t01 th	{
    background-color: cornflowerblue;
    color: white;
}


/* Pragaraphs and Headings */

p  {
    color: dimgray;
    font-family: "proxima nova light", "Helvetica Neue", Helvetica, Arial, Sans-serif;
	font-size: 20px;
}

h2{
	color:cornflowerblue;
	font-family:BebasNeuewebfont, sans-serif;
    font-size:50px;
}


/* color text*/
.cornflowerblue
{
        color:cornflowerblue;
		font-weight:bold;
}
	
/* Round Image */
.round {
                border-radius: 100%;
                overflow: hidden;
                width: 200px;
                height: 200px;
				margin: 0 auto;
}
.round img {
                display: block;
            /* Stretch 
                  height: 100%;
                  width: 100%; */
            min-width: 100%;
            min-height: 100%;
}
/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.intro-section {
    height: 100%;
    padding-top: 100px;
	padding-bottom: 200px;
    background: #fff;
	text-align: center;
}

.about-section {
    height: 100%;
    padding-top: 50px;
	padding-bottom:75px;
    text-align: center;
    background: #fff;

}

.services-section {
    height: 100%;
    padding-top: 25px;
	padding-bottom:50px;
    background: #fff;
}

.contact-section {
    height: 100%;
    padding-top: 75px;
	padding-bottom: 50px;
    text-align: center;
    background-image: url('    C:\Users\Tharun Katanguru\Desktop\hTML\project 1 Portfolio\images\612564.jpg');
}
.connect-section {
    height: 100%;
    padding-top: 100px;
	padding-bottom: 200px;
    background: #fff;
	text-align: center;
}


/* form field*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400|Pacifico);

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  ==============================
  Custom styles
  ==============================
*/


form {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.contact-form input,
.contact-form textarea {
  border: 0;
  outline: 0;
  display: block;
  width: 100%;
  margin-top: 1em;
  padding: .8em;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(34,34,34,0.1);
  resize: none;
}

.contact-form textarea {
  margin-bottom: 1em;
  height: 125px;
}

.contact-form input:focus {
  box-shadow: 0 0px 2px rgba(3,201,169,1)!important;
}

.contact-form textarea:focus {
  box-shadow: 0 0px 2px rgba(3,201,169,1)!important;
} 

#submit {
  color: white; 
  background-color: cornflowerblue;
  cursor: pointer;
  font-weight: 400;
}
    
#submit:hover {
  background-color: rgba(3,201,169,.6);
}

