@charset "utf-8";
/* CSS Document */

#content{
	text-align: center;
	font-size: 60px;
}
img { border: 0px; }
#focus img{
	width: 1172px;
	height: 600px;
}
.bannerbox { width: 1172px; height: 600px; overflow: hidden; margin: 0px auto; }
#focus { width: 1172px; height: 600px; clear: both; overflow: hidden; position: relative; float: left; }
    #focus ul { width: 1172px; height: 600px; float: left; position: absolute; clear: both; padding: 0px; margin: 0px; }
        #focus ul li { float: left; width: 1172px; height: 600px; overflow: hidden; position: relative; padding: 0px; margin: 0px; }
    #focus .preNext { width: 550px; height: 447px; position: absolute; top: 0px; cursor: pointer; }
    #focus .pre { left: 0; background: url(../../images/sprite.png) no-repeat left center; }
    #focus .next { right: 0; background: url(../../images/sprite1.png) no-repeat right center; }